@model <%= basewebnamespace %>.Areas.<%= pluralname %>.Models.<%= classname %>DetailsViewModel
<a href="@(this.Url.RouteUrl(Routes.<%= classname %>.Edit, new { this.Model.ID }))" class="btn btn-default">Edit</a>