@model <%= basewebnamespace %>.Areas.<%= pluralname %>.Models.Edit<%= classname %>ViewModel
<a href="@(this.Url.RouteUrl(Routes.<%= classname %>.Home))" class="btn btn-default">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>