<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings configSource="Configuration\AppSettings.config" />
	<connectionStrings configSource="Configuration\ConnectionStrings.config" />
	<system.net>
		<mailSettings>
			<smtp configSource="Configuration\Smtp.config" />
		</mailSettings>
	</system.net>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<authentication mode="None" />
	</system.web>
	<location path="~/Content">
		<system.web>
			<authentication mode="None" />
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>		
	</location>
</configuration>
