<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs\" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="-1" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />
		<datePattern value="MM-dd-yyyy\.\l\o\g" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|%logger|%-5level|%message%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="DEBUG" />
			<levelMax value="FATAL" />
		</filter>
	</appender>

	<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs\" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="-1" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />
		<datePattern value="\E\r\r\o\r\.MM-dd-yyyy\.\l\o\g" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date|%logger|%-5level|%newline%message%newline%exception-------------------------------------------------------------------------------------------------------------------------------------------------------------------------%newline" />
		</layout>
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>
	</appender>
	
	<root>
		<level value="ALL" />
		<appender-ref ref="LogFileAppender" />
		<appender-ref ref="ErrorLogFileAppender" />
	</root>

	<logger name="NHibernate" additivity="false">
		<level value="ALL" />
		<!-- Ignore NHibernate logging - let it "bubble" up -->
	</logger>

</log4net>
