<a href="@(this.Url.RouteUrl(Routes.<%= classname %>.Details, new { ID = this.ViewData["ID"] }))">View</a>
<a href="@(this.Url.RouteUrl(Routes.<%= classname %>.Edit, new { ID = this.ViewData["ID"] }))">Edit</a>
<a href="@(this.Url.RouteUrl(Routes.<%= classname %>.Delete, new { ID = this.ViewData["ID"] }))">Delete</a>